.task-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & p {
        margin: 0;
        padding: 0;
    }
    & span {

    }
    & img {
        max-width: 200px;
        max-height: 200px;
    }
}