.task-2 {
    & .zero-m-p {
        padding: 0;
        margin: 0;
    }
    &__list-wrap {
        display: flex;
        align-items: center;
        gap: 26px;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    &__num {
        position: relative;
        width: 36px;
        height: 36px;
        font-size: 26px;
        text-align: center;
        background-color: rgb(231, 241, 255);
        border-radius: 8px;
        border: 1px solid black;
        background-clip: padding-box;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        &--hidden::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 36px;
            height: 36px;
            font-size: 26px;
            background: rgb(25, 0, 114);
            border-radius: 8px;
            // border: 3px solid black;
        }
    }
    &__players-zone {
        margin-top: 22px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 36px;
    }
    &__player-wrap {
        border: 2px solid black;
        padding: 12px;
        border-radius: 12px;
    }
    &__player {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        
        & label {
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
        & input {
            display: block;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            // height: 32px;
            font-size: 22px;
            max-width: 150px;
            padding: 5px;
            min-width: 120px;
        }
    }
    &__btn {
        margin: 0;
        padding: 12px;
        margin-top: 14px;
    }
    &__finded-p {
        margin: 8px 0;
        padding: 0;
    }
    &__finded {
        // margin-top: 12px;
        padding: 6px;
        // border-radius: 8px;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        & span {
            font-size: 24px;
            font-weight: 600;
            // border: 1px solid black;
            background-color: rgb(211, 218, 243);
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
        }
    }
    &__cheked-nums {
        padding: 15px 0 0 0;
        margin: 0;
    }
    &__finish {
        & p {
            font-size: 24px;
            font-weight: 700;
        }
    }
}
