.container {
    background-color: rgb(231, 231, 231);
    padding: 10px;
    &__input {
        margin: 0 8px;
    }
    &__btn {
        background-color: rgb(206, 226, 255);
    }
    &__err-p {
    color: red;
    display: none;
        &--blue {
            color: blue;
        }
        &--show {
            display: block;
        }
    }
    &__smile-img {
        display: none;
        &--show {
            display: block;
        }
    }
}